/* 
    Created on : 25/09/2014, 09:22:36 AM
    Author     : CocoSoft
*/
* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Georgia, Serif;
}
header{
    background: #8bbbfd;
    margin: 0 auto 0;
    padding: 0;
    width: 100%;
    margin-bottom: 1px;
}
header  div#cabecera{
    margin: 0 auto 0;
    width: 960px;
}
div#cabecera div{
    display: inline-block;
    margin: 5px auto 5px;
    vertical-align: middle;
}
div#cabecera div img{
    margin-left: 50px;
    height: 100px;
    width: 100px;
}

header div#cabecera  h1{
    font-size: 40px;
    margin-left: 50px;
}
/*-------------*/
div#barraNavegacion{
    background: #4688da;
    width: 100%;
}
div#barraSecundaria{
    margin-top: 2px;
    background: #4688da;
    width: 100%;
}
nav#barraNavPrincipal{
    margin: 0 auto 0;
    width: 960px;
}
nav#barraNavSecundaria{
    margin: 0 auto 0;
    width: 960px;
}
nav#barraNavPrincipal ul {
    list-style: none;
    height: 30px;
}
nav#barraNavSecundaria ul {
    list-style: none;
    height: 30px;
}
nav#barraNavPrincipal ul li{
    float: left;
}
nav#barraNavSecundaria ul li{
    float: right;

}
nav#barraNavPrincipal li a{
    text-align: center;
    display: block;
    background: #4688da;
    border-right:3px solid white;
    text-decoration: none;
    font-size: 20px;
    width: 120px;
    height: 30px;
}
nav#barraNavSecundaria li a{
    text-align: center;
    display: block;
    background: #4688da;
    border-right:3px solid white;
    text-decoration: none;
    font-size: 20px;
    width: 120px;
    height: 30px;
}
nav#barraNavPrincipal li a:hover{
    background: #56a2ff;
    border-right:3px solid black;
}
nav#barraNavSecundaria li a:hover{
    background: #56a2ff;
    border-right:3px solid black;
}
/*-----------------------------*/

section{
    background: #56a2ff;
    margin: 0 auto 0;
    padding: 5px 0px;
    width: 960px;
}
table{
    border: 0;
    text-align: center;
    width: 90%;
    background: #cccccc;
}
div#div_eliminar{
    text-align: center;
    margin: 0 auto 0;
    background: #539fe2;
}
div#div_mensaje{
    background: #7fc8f1;
    font-size: 12px;
    font-family: cursive;
    text-align: center;
    width: 100%; 
}

div#div_datos{
    width: 95%;
    margin: 0 auto 0;
    height: auto;
    //border: 1px solid #ccc;
}
.table_datos_est{
    background: transparent;
    border: 1px solid transparent;
    padding: 2px;
    text-align: left;
    margin: 0 auto 0;
    height: auto;
    width: 500px;
    
}
.table_datos_est th{
    font-size:20px;
    padding: 5px;
}

.table_datos_est:hover{ 
    border: 1px solid #b7deff;
}
.table_datos_est td{
    padding: 2px;
    padding-left: 3px;
}

footer{
    background: #4688da;
    height: 20px;
    width: 100%;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: #000000;
    font-family: fantasy;
}